.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}

.h1home {
    color: #52275e;
    font-size: 30px;
}
.h3home {
    color: #52275e;
    font-size: 15px;
}
.linkhome {
    height: 12px;
    color: #52275e;
}
.linkhome2 {
    height: 15px;
    color: #52275e;
}
.flex {
    display: flex;
}
.flexcustom {
    display: flex;
}
.social {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.gap1 {
    gap: 10px;
}
.gap2 {
    gap: 20px;
}
.logoprincipal {
    margin: auto;
}
.divemconstrucao {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: center;
}
.divemconstrucaotop {
    height: 40%;
    display: flex;
}
.divemconstrucaobody {
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.divemconstrucaofooter {
    height: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding: 15px;
}

@media only screen and (max-width: 500px) {
    .logoprincipal {
        max-width: 250px;
        max-height: 107px;
    }
    .h1home {
        font-size: 25px;
    }
    .h3home {
        font-size: 12px;
    }
}
